<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}" type="text/css">

    <title>{% block title %}{% endblock %}</title>

</head>

<body>
<br>
<div class="container">

    <nav class="nav-tabs nav-item nav-link">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="{{url_for('main_page', page=1)}}" style="color:#fff"><h4>Головна сторінка</h4></a></li>
            <li class="list-inline-item"><a href="{{url_for('contact_us')}}" style="color:#fff"><h4>Контакти</h4></a></li>
        </ul>
    </nav>
</div>
{% block body %}{% endblock %}
</body>
</html>

